detail-bill {
  .bill-container {
    width: 100%;
    height: 100%;
    background-color: white;

    .bill-header {
      height: 12%;
      border-bottom: 1.5px solid gray;
      background-color: white;
      padding: 1vh;
      p {
        margin: 5px;
        font-size: 2vh;
      }
    }

    .bill-content {
      height: 45%;
      width: 100%;
      border-bottom:1px solid gray;
      ion-scroll {
        width: 100%;
        height: 100%;
        .item.item-block .item-inner {
          border-bottom: 0px !important;
        }
        .scroll-content {
          padding: 0;
          overflow-y: scroll;
          background-color: white !important;

          .fr-card {
            .card.card {
              margin: 0;
              padding: 0;
              width: 100%;

              border: 0px;

              .card-content.card-content {
                padding: 0px;

                .card-row {
                  width: 100%;
                  border-bottom: 1px solid gray;

                  #col-icon-updown {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    div {
                      display: flex;
                      flex-direction: column;
                      font-size: 2vw;
                      color: green;
                      margin: 0;
                      ion-icon {
                        line-height: 0.5 !important;
                        text-align: center !important;
                      }
                      p {
                        border: 1px solid gray;
                        text-align: center;
                        font-size: 2vh;
                        border-radius: 10%;
                      }
                    }
                  }

                  .center-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h2 {
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      overflow: hidden;
                      width: 100%;
                      color: black;
                      font-size: 2vh;
                      font-weight: 800;
                    }
                    p {
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      overflow: hidden;
                      width: 100%;
                      color: gray;
                      font-size: 2vh;
                      font-weight: 800;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .bill-footer {
      background-color: white;
      height: 43%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      border-top: 1px solid black;
      .tinh-bill {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        margin-right: 10%;
        margin-left: 35%;
        margin-bottom: 3%;
        height: 7%;
        p {
          font-size: 2vh;
        }
      }

      .tong-bill {
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3% 10% 0 35%;
        #text {
          font-size: 2.2vh;
          margin: 0.5vw;
        }
      }

      .print {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 10%;
        margin-left: 35%;
        margin-top: 1vh;
        ion-icon {
          color: aqua;
          font-size: 4vh;
        }
        p {
          width: 90%;
          padding-left: 3%;
          font-size: 2.2vh;
          margin-left: 3%;
        }
      }

      .btn-submit {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 1vh;

        .btn-luu {
          background-color: #f5a62f;
          height: 150%;
          width: 30%;
          font-size: 2.5vh;
          color: white;
        }
        .btn-thanhtoan {
          background-color: #35be1b;
          height: 150%;
          width: 30%;
          font-size: 2.5vh;
          color: white;
        }
      }
    }
  }
}
