page-order {
  .header {
    height: 8vh !important;
    line-height: 7.5vh !important;

    .toolbar-title-md {
      font-size: 3vh !important;

      text-align: center;
    }
    .toolbar-title-ios {
      font-size: 3vh !important;
    }
  }

  .contentB {
    background-color: #def3c9;
    height: 100%;
    overflow-y: hidden !important;
    padding: 0 !important;
    // .scroll-content {
    //   padding: 0;
    //   overflow-y: hidden;
    // }
    .bill {
      height: 100%;
      flex-direction: row;
      align-items: flex;
      justify-content: space-between;

      .bill-area {
        width: 55%;
        height: 100%;
        border: 1px solid gray;
      }

      .bill-details {
        width: 40vw;
        height: 100%;
        border: 1px solid gray;
      }
    }
  }
  .footer {
    background-color: #35be1b;
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
    .segment .segment-button {
      font-size: 3vh !important;
      height: 8vh !important;
      line-height: 8vh !important;
      color: white !important;

      border-color: #35be1b !important;
      display: inline-block;
      min-width: 22vh;
      width: auto;
      text-transform: capitalize !important;
    }
    .segment .segment-button.segment-activated {
      border-top: 0.5vh solid orange !important;
      background-color: #35be1b !important;
      font-weight: bold;
    }
    // .segment .segment-button:active:not(.segment-activated) {
    //   border-top: 0.5vh solid orange !important;
    //   background-color: #35be1b !important;
    //   font-weight: bold;
    // }

    // .segment .segment-button:last-of-type {
    //   max-width: 22vh !important;
    // }
    .segment .segment-button ion-icon {
      font-size: 5.5vh !important;
      line-height: 8vh !important;
    }
    .icon {
      position: absolute;
      font-size: 3vh !important;
      margin-left: 49vw !important;
      color: white;
    }
  }
}
