page-area {
  .header {
    background-color: white;
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
    .segment .segment-button {
      font-size: 3vh !important;
      height: 8vh !important;

      color: black !important;
      border-color: white !important;
      align-items: center !important;
      justify-content: center !important;
      text-align: center !important;
      display: inline-flex;
      min-width: 22vh;
      width: auto;
      text-transform: capitalize !important;
    }
    .segment-button {
      font-size: 3vh !important;
      height: 8vh !important;

      color: black !important;
      border-color: white !important;
      align-items: center !important;
      justify-content: center !important;
      text-align: center !important;
      display: inline-flex;
      min-width: 22vh;
      width: auto;
      text-transform: capitalize !important;
    }
    .segment-button .segment-button.segment-activated {
      border-bottom: 0.5vh solid orange !important;
      background-color: white !important;
      font-weight: bold;
    }

    .segment .segment-button.segment-activated {
      border-bottom: 0.5vh solid orange !important;
      background-color: white !important;
      font-weight: bold;
    }
 
    .icon {
      font-size: 3vh !important;
      margin-left: 48vw !important;

    }
  }
  .content {
    height: 100%;
    width: 100%;
    background-color: #def3c9;
    display: flex;
    align-items: center;
    justify-content: center;

    .fab ion-icon {
      font-size: 8.5vh !important;
    }
    .fab-md-light {
      width: 9vh !important;
      height: 9vh !important;
    }
    .fab-ios-light {
      width: 9vh !important;
      height: 9vh !important;
    }
  }
  .footer {
    background-color: #35be1b;
    display: inline-flex;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    .segment .segment-button {
      font-size: 3vh !important;
      height: 8vh !important;
      padding-left: 3vh;
      align-items: center !important;
      justify-content: left !important;
      text-align: center !important;
      display: inline-flex;
      color: white !important;

      border-color: #35be1b !important;

      min-width: 22vh;
      width: auto;
      text-transform: capitalize !important;
    }
    .segment .segment-button.segment-activated {
      border-top: 1vh solid orange !important;
      background-color: #35be1b !important;
      font-weight: bold;
    }

    .segment .segment-button ion-icon {
      font-size: 5.5vh !important;
      line-height: 8vh !important;
    }

    .icon {
      font-size: 5vh !important;
      align-items: center;
      color: white;
      padding-right: 1vh;
    }
  }
}
