<ion-content padding>
  <ion-row>
    <ion-col class="containerH" col-3 *ngFor="let item of data">
      <div class="boxt">
        <div class="box0">
          <ion-icon name="person"> KH : {{ item.name }} </ion-icon>
        </div>
        <div class="box1">
          <ion-row>
            <h1>{{ item.price | currency: "VND":"symbol-narrow":"1.0-0" }}</h1>
          </ion-row>
        </div>
        <div class="box2">
          <button ion-button outline color="danger" (click)="gotoBill(item)">
            Hoa Don
          </button>
          <button
            ion-button
            outline
            color="secondary"
            (click)="updateBill(item)"
          >
            Chinh Sua
          </button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
