page-home-info {
    align-self: center;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
     
  
      .title {
        color: #35be1b;
        text-align: center;
      }
    }
  
    .content {
     
      width: 100%;
  
      .box1 {
        display: flex;
        align-items: center;
        justify-content: center;
        .input {
          font-size: 3vh;
          height: 6vh;
          width: 85%;
          border: 1px solid lightslategrey;
        }
      }
      .box2 {
        display: flex;
        align-items: center;
        justify-content: center;
        .line {
          height: 1px;
          width: 32%;
          background-color: lightslategray;
          margin: 1vw;
          h3 {
            font-size: 2vh;
          }
        }
      }
      .box3 {
        display: flex;
        align-items: center;
        justify-content: center;
        .input {
          font-size: 3vh;
  
          width: 85%;
          border: 1px solid lightslategrey;
        }
      }
      .box4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
        .icon {
          font-size: 3vh;
          font-weight: bold;
          margin-left: 35%;
          margin-right: 35%;
        }
      }
    }
}
