menu-food {
  .Mcontainer {
    width: 100%;
    height: 100%;
    background-color: #def3c9;
    .grid {
      align-self: center;

      ion-col {
        padding: 2px;
      }

      ion-card {
        max-width: 150px;
        max-height: 150px;
      }

      .fr-card {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        border-color: #313130;
        //box-shadow: 3px 6px #EBEFF1;
        height: 90%;

        // khối bao phần text
        .content-name {
          height: 20%;
          width: 100%;
          h2 {
            justify-content: center;
            word-break: hyphenate;
            width: 100%;
            display: inline-flex;
            text-align: center;
            font-weight: 500;
            font-size: 100%;
          }
        }

        // khối chứa ảnh
        .image {
          width: 100%;
          height: 80%;
          padding: 2px;
          padding: 3%;
          img{
            height: 90%;
          }
        }
      }
    }

    .card-content {
      padding: 0 !important;
      height: 100%;
    }
  }
}
